name: Docker Image CI

on:
  push:
    branches: ["main"]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          # Gọi đúng tên Secret đã tạo ở Bước 1
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          # Sửa lại tag cho hợp lệ.
          # Lưu ý: "adijaiswal" phải trùng với namespace của DOCKER_USERNAME nếu không bạn sẽ bị lỗi Access Denied.
          # Nếu username của bạn là anleanle4125, hãy đổi adijaiswal thành anleanle4125
          tags: anleanle4125/boardgame11:latest
